*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
}


html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color:white;

}

header{
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 2vw 2vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

header h1 a{
    color: white;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    margin-right: 2vw;
}

ul li a{
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
    background-color: black;
    transition: 1s ease;
    border-radius: 1vw;
    padding: 1vw 1vw;
}

ul li a:hover{
    background-color: white;
    color: black;
}

.content-1{
    width: 100%;
    height: 3vw;
    background-color: white;
    display: flex;
    align-items: center;
    gap:2.3vw;
    padding: 2vw 2vw;
    border-bottom: 1px solid black;
}

.btn1{
    border: 2px solid black;
    padding: 0.2vw;
    border-radius: 0.5vw;
    color: white;
    background-color: black;
    transition: 1s ease;
    font-weight: 500;
}
.btn1:hover{
    background-color: white;
    color: black;
}

.content-2{
    width: 100%;
    height: 38.97vw;
    background-color: yellow;
}


/******************************/


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    min-width: 100px;
    width: 70%;
    max-width: 320px;

    background-color: black;
    color: #fff;
  }

  .content {
    width: 100%;
  }

  .menu-button {
    position: absolute;
    top: 0px;
    left: 0px;

    padding: 15px;

    cursor: pointer;

    -webkit-transition: 0.3s;
    transition: 0.3s;

    background-color: black;

    margin: 14px;
          border-radius: 5px;
  }

  .menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
  }

  .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
  }

  .bar {
    position: relative;
    display: block;

    width: 18px;
    height: 1.8px;

    margin: 5px auto;
    background-color: #fff;

    border-radius: 10px;

    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
  }

  .menu-button:hover .bar:nth-of-type(2) {
    opacity: 0.9;
  }

  .menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
  }

  .cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }

  .cross .bar:nth-of-type(2) {
    opacity: 0;
  }

  .cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
  }

  .cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
  }

  .cross:hover .bar:nth-of-type(2) {
    opacity: 0.1;
  }

  .cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
  }

  .content-slide{
    background-color: black;
    width: 100%;
    height: 100%;
    padding-top: 1.8vw;
    text-align: left;
    padding-left: 2vw;
    
  }

  .menubtn{
    font-size: 2.5vw ;
    font-weight: 600;
    color: white;
    margin-top: 0vw;
    cursor: default;
  }

  .slidebtn{
    font-size: 1.6vw;
    font-weight: 600;
    color: white;
    padding: 0.5vw 0.5vw;
    transition: 1s ease;
    border: 2px solid black;
    border-radius: 0.6vw;
  }
  .slidebtn:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 0.6vw;
  }


.slidebtn i{
    font-weight: 100;
}

.content-3{
  width: 100%;
  height: 50vh;
  background-color: yellow;
}

.explorebtn{
  color: black;
  border: 2px solid black;
  border-radius: 0.5vw;
  padding: 0.8vw 0.8vw;
  font-size: 1.8vw;
  font-weight: 600;
  transition: 1s ease;

}

.explorebtn:hover{
  color: white;
  background-color: black;

}

.sbtn{
  color: black;
  font-size: 2.5vw;
  transition: 0.5s ease;
  font-weight: 50;
}

.sbtn:hover{
  color: white;
  border: 1px solid black;
  background-color: black;
  padding: 0.2vw 0.2vw;
  border-radius: 0.5vw;
  font-size: 3vw;
}
